name: Deploy WAR to JBoss

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: saas
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'      
   
      #- name: Deploy WAR to JBoss
        env:
          JBOSS_ENDPOINT: ${{ secrets.JBOSS_ENDPOINT }}
          JBOSS_USERNAME: ${{ secrets.JBOSS_USERNAME }}
          JBOSS_PASSWORD: ${{ secrets.JBOSS_PASSWORD }}
          WAR_PATH: '/dist/helloworld.war'
       
      - name: Deploy to Jboss
        run: |
        
          DEPLOY_DIR=$(mktemp -d)
          cp $WAR_PATH $DEPLOY_DIR/
          JBOSS_CLI=$DEPLOY_DIR/jboss-cli.sh
          echo "embed-server --admin-only=true" > $JBOSS_CLI
          echo "deploy $DEPLOY_DIR/$(basename $WAR_PATH)" >> $JBOSS_CLI
          echo "exit" >> $JBOSS_CLI
          $JBOSS_CLI --connect --controller=$JBOSS_ENDPOINT --user=$JBOSS_USERNAME --password=$JBOSS_PASSWORD
          rm -rf $DEPLOY_DIR