name: Deploy WAR to JBoss

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Deploy WAR to JBoss
        env:
          JBOSS_ENDPOINT: 'http://127.0.0.1:9990/'
          JBOSS_USERNAME: ${{ secrets.JBOSS_USERNAME }}
          JBOSS_PASSWORD: ${{ secrets.JBOSS_PASSWORD }}
        run: |
          # Set up JBoss CLI command
          JBOSS_CLI="$JBOSS_HOME/bin/jboss-cli.sh"
          DEPLOY_COMMAND="deploy dist/helloworld.war"

          # Execute JBoss CLI command to deploy the WAR file
          echo "Connecting to JBoss server..."
          $JBOSS_CLI --connect --controller=$JBOSS_ENDPOINT --user=$JBOSS_USERNAME --password=$JBOSS_PASSWORD --command="$DEPLOY_COMMAND"
